<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="blocks/header"></header>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5" style="color: azure">Создание поста</h1>
        <p class="lead" style="color: azure">Добавьте заголовок и описание</p>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h1 style="color: wheat">Creating post</h1>
    <form th:method="POST" th:action="@{/posts/add}" th:object="${post}">
        <input id="title" type="text" th:field="*{title}" placeholder="Fill post title" class="form-control"/>
        <div id="validate_title" class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <br>
        <textarea id="text" type="text" th:field="*{text}" placeholder="Fill post text" class="form-control"></textarea>
        <div id="validate_text" class="alert alert-warning" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div><br>
        <button id="add" type="submit" class="btn btn-success">Add post</button>
    </form>
</div>
</html>