<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="blocks/header"></header>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5" style="color: bisque">Пост менеджер</h1>
        <p class="lead" style="color: bisque">Создайте свой первый пост прямо сейчас!</p>
    </div>
</div>
<div class="container mt-0">
    <h1 style="color: bisque">Список постов</h1>
    <form th:method="GET" th:action="@{/posts/add}">
        <button type="submit" class="btn btn-primary btn-sm" id="add">Создать пост</button>
    </form>
    <br>
    <div th:each="post : ${posts}" class="alert alert-secondary mt-0">
        <h3 th:text="${post.getTitle()}"></h3>
        <p th:text="${post.getText()}"></p>
        <p th:align="right">Обновлено</p>
        <p th:text="${post.getTime()}" th:align="right"></p>
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form th:method="GET" th:action="@{/posts/{id}/edit(id=${post.getId()})}">
                <button type="submit" class="btn btn-outline-dark btn-sm" id="edit">Редактировать</button>
            </form>
            <form th:method="POST" th:action="@{/posts/{id}/delete(id=${post.getId()})}">
                <button type="submit" class="btn btn-dark btn-sm" id="delete">Удалить пост</button>
            </form>
        </div>
    </div>

    <form th:method="POST" th:action="@{/posts/deleteAll}">
        <button type="submit" class="btn btn-secondary btn-sm" id="delete_all">Удалить весь список постов</button>
    </form>
</div>
</html>
